# Ignore environment files containing sensitive data
.env
.env*
!.env.example

# Ignore virtual environments
.venv
venv

# Ignore Python cache and bytecode
__pycache__/
*.pyc

# Ignore IDE local files
.idea/

# Ignore test and cache folders
tests/
.pytest_cache/
.hypothesis/

# Ignore logs
*.log

# Ignore frontend (if added later)
.frontend/